p {
	padding: 15px;
}

.sectionTitle {
	font-size: 1.2em;
}

.sections {
	list-style-type: none;
}

.sectionsUl {
	/*width: 100%;*/
	padding: 0px;
}

.sectionsLi {
 	border: 1px solid #eee;
	border-radius: 5px;
	
	height: 140px;
	float: left;
	padding: 1em;
	margin-right: 30px;
	margin-bottom: 15px;
	
	line-height: 1.5em;
	display: inline-block;

	cursor: pointer;

	overflow: hidden;
}

.sectionsLi img {
	border-radius: 3px;
	margin-right: 1em;
	max-height: 110px;
	max-width: 100px;
    
    -o-object-fit: contain;
    object-fit: contain;
}

.sections p {
	padding-bottom: 0px;
	margin: 0px;
}
